<%- include("./includes/header"); %>
<%- include("includes/navbar"); %>
<!-- /Banner BOC -->
<div class="yit-slick-slider webp-hosting-banner style-2 yit-pos-relative z-index-0 bg-overlay" style="background-image:url(images/bg-items/bg-pattern-6.png);">
  <div class="slider yit-slick-single">
    <div class="slick-slide">
      <div class="slick-slide-img">
        <div class="container">
          <div class="row">
            <div class="col-xl-7 col-md-7 col-lg-7">
              <div class="slick-slider-content height-cover">
                <div class="yit-display-centrize">
                  <div class="yit-display-v-centrize animate-zoomin">
                    <h2 class="font-large">Dedicated Hosting</h2>
                    <h6 class="font-xxsmall mt-15 mb-15">Starting at <span class="pink-color-text">$3/</span> per month</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque vel dignissimos iusto fugiat similique eveniet corrupti eius accusamus inventore, consectetur recusandae, earum maiores, atque, in</p>
                    <a href="javascript:void(0);" title="Purchase Now" class="btn">Purchase Now &nbsp; <i class="fa fa-shopping-basket"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-5 col-md-5 col-lg-5">
              <div class="slick-slider-img height-cover hidden-xs">
                <div class="yit-display-centrize">
                  <div class="yit-display-v-centrize animate-zoomin">
                    <img src="images/custom-icon/graphic-hosting-1.png" alt="Hosting Graphic" class="yit-img-center" width="472" height="320">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slick-slide">
      <div class="slick-slide-img">
        <div class="container">
          <div class="row">
            <div class="col-xl-7 col-md-7 col-lg-7">
              <div class="slick-slider-content height-cover">
                <div class="yit-display-centrize">
                  <div class="yit-display-v-centrize animate-zoomin">
                    <h2 class="font-large">Shared Hosting</h2>
                    <h6 class="font-xxsmall mt-15 mb-15">Starting at <span class="pink-color-text">$5/</span> per month</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque vel dignissimos iusto fugiat similique eveniet corrupti eius accusamus inventore, consectetur recusandae, earum maiores, atque, in</p>
                    <a href="javascript:void(0);" title="Purchase Now" class="btn">Purchase Now &nbsp; <i class="fa fa-shopping-basket"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-5 col-md-5 col-lg-5">
              <div class="slick-slider-img height-cover hidden-xs">
                <div class="yit-display-centrize">
                  <div class="yit-display-v-centrize animate-zoomin">
                    <img src="images/custom-icon/graphic-hosting-2.png" alt="Hosting Graphic" class="yit-img-center" width="419" height="320">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slick-slide">
      <div class="slick-slide-img">
        <div class="container">
          <div class="row">
            <div class="col-xl-7 col-md-7 col-lg-7">
              <div class="slick-slider-content height-cover">
                <div class="yit-display-centrize">
                  <div class="yit-display-v-centrize animate-zoomin">
                    <h2 class="font-large">Cloud Hosting</h2>
                    <h6 class="font-xxsmall mt-15 mb-15">Starting at <span class="pink-color-text">$8/</span> per month</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque vel dignissimos iusto fugiat similique eveniet corrupti eius accusamus inventore, consectetur recusandae, earum maiores, atque, in</p>
                    <a href="javascript:void(0);" title="Purchase Now" class="btn">Purchase Now &nbsp; <i class="fa fa-shopping-basket"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-5 col-md-5 col-lg-5">
              <div class="slick-slider-img height-cover hidden-xs">
                <div class="yit-display-centrize">
                  <div class="yit-display-v-centrize animate-zoomin">
                    <img src="images/custom-icon/graphic-hosting-3.png" alt="Hosting Graphic" class="yit-img-center" width="522" height="355">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Banner EOC -->

</header>
<!-- ====== /HEADER EOC ====== -->

<!-- ====== /CONTENT BOC ====== -->

<!-- /Search Domain BOC -->
<section class="webp-hosting-search light-grey-color-bg">
<div class="container">
  <div class="row">

    <!-- /Domain Search Form BOC -->
    <div class="col-lg-5 col-md-6 col-xl-5 d-flex align-items-center">
      <div class="yit-cotact-form common-form mt-20 white-color-bg img-shadow width-full">
        <form id="domain-search-form" name="domain-search-form">
           <h6 class="head-title pad-15-all font-xxsmall font-weight-medium text-center space-grey-color-bg">Search Your Domain</h6>
           <div class="fomr-inner pad-15-all">
            <div class="form-group">
               <ul class="hosting-rate">
                 <li>.com <span class="pink-color-text">$5.75</span></li>
                 <li>.net <span class="pink-color-text">$9.45</span></li>
                 <li>.org <span class="pink-color-text">$7.50</span></li>
                 <li>.us  <span class="pink-color-text">$5.99</span></li>
                 <li>.biz <span class="pink-color-text">$9.99</span></li>
               </ul>
             </div>
             <div class="form-group">
                <input type="text" name="search-domain" id="search-domain" class="form-control" placeholder="Enter Your Domain Name">
             </div>
             <div class="form-group">
                <select class="yit-nice-select width-full">
                  <option value="1">.com</option>
                  <option value="2">.net</option>
                  <option value="3">.org</option>
                  <option value="4">.us</option>
                  <option value="5">.au</option>
                  <option value="6">.info</option>
                </select>
             </div>
             <div class="form-group">
                <input type="email" name="search-domain-email" id="search-domain-email" class="form-control" placeholder="Enter Your Email Address">
             </div>
             <div class="form-group">
                <input type="submit" name="btn-search-domain" id="btn-search-domain" class="btn btn-block" value="Search Domain">
             </div>
           </div>
        </form>
        <div class="clearfix"></div>
      </div>
    </div>
    <!-- /Domain Search Form EOC -->

    <!-- /Content Image BOC -->
    <figure class="col-lg-7 col-md-6 col-lg-7">
      <img src="images/custom-icon/graphic-rocket-launcher.png" alt="Graphic Rocket" class="yit-img-center data-parallax-effect" data-parallax='{"y": 60}'
        width="500" height="500">
    </figure>
    <!-- /Content Image EOC -->

  </div>

</div>
</section>
<!-- /Search Domain EOC -->

<!-- /Why Choose Section BOC -->
<section class="webp-hosting-why pink-color-bg" style="background-image:url(images/bg-items/transparent-metrix-pattern.png);">
<div class="container">
  <div class="row">
    <div class="col">
      <div class="text-center">
        <h2>Why Choose WebPand Hosting?</h2>
        <img src="images/bg-items/line-divider-ripple.png" alt="Line Divider" class="yit-img-center mt-20 mb-20" width="97" height="20">
      </div>
    </div>
  </div>

  <!-- /Feature Listing BOC -->
  <div class="yit-feature style-1 text-center img-scale mt-20">
    <div class="row">
      <div class="col-xl-4 col-md-4 col-lg-4">
        <div class="yit-feature-item">
          <img src="images/custom-icon/graphic-hosting-icon-1.png" alt="Graphi Icon" width="111" height="130" class="yit-img-center mb-20">
          <h6>Free Domain</h6>
          <hr class="width-30 height-1 light-grey-color-bg">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam perferendis neque perspiciatis aut atque ab labore! Enim quia delectus quidem, architecto quam, </p>
        </div>
      </div>
      <div class="col-xl-4 col-md-4 col-lg-4">
        <div class="yit-feature-item">
          <img src="images/custom-icon/graphic-hosting-icon-2.png" alt="Graphi Icon" width="111" height="130" class="yit-img-center mb-20">
          <h6>Control Cpanel</h6>
          <hr class="width-30 height-1 light-grey-color-bg">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam perferendis neque perspiciatis aut atque ab labore! Enim quia delectus quidem, architecto quam, </p>
        </div>
      </div>
      <div class="col-xl-4 col-md-4 col-lg-4">
        <div class="yit-feature-item">
          <img src="images/custom-icon/graphic-hosting-icon-3.png" alt="Graphi Icon" width="111" height="130" class="yit-img-center mb-20">
          <h6>24/7 Hour Support</h6>
          <hr class="width-30 height-1 light-grey-color-bg">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam perferendis neque perspiciatis aut atque ab labore! Enim quia delectus quidem, architecto quam, </p>
        </div>
      </div>
    </div>
  </div>
  <!-- /Feature Listing EOC -->

</div>
</section>
<!-- /Why Choose Section EOC -->

<!-- /Pricing Section BOC -->
<section class="webp-hosting-pricing space-grey-light-color-bg">
<div class="container">
  <div class="row">
    <div class="col">
      <div class="text-center">
        <h3>Our Hosting Plan</h3>
        <img src="images/bg-items/line-divider-ripple.png" alt="Line Divider" class="yit-img-center mt-20 mb-20" width="97" height="20">
      </div>
    </div>
  </div>

  <!-- /Pricing Listing BOC -->
  <div class="yit-pricing style-1 text-center mt-20">
    <div class="row">
      <div class="col-xl-4 col md-4 col-lg-4">
        <div class="yit-pricing-item">
          <div class="pricing-head">
            <img src="images/custom-icon/stylish-hosting-icon-host.png" alt="Icon Hosting" class="yit-img-center mb-15" width="64" height="64">
            <h6 class="plan-title font-weight-semibold mt-10 mb-10">Free Hosting</h6>
            <hr class="width-30 height-1 grey-color-bg">
          </div>
          <div class="pricing-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non consectetur rerum molestias debitis nihil provident voluptatem consequuntur illum</p>
            <h6 class="plan-title mt-10 mb-10 font-weight-regular font-xxsmall">Starting at <span class="pink-color-text font-weight-bold">$3</span> /per month</h6>
            <div class="plan-desc mb-20">
              <ul class="yit-listing-block">
                <li>50GB Bandwidth </li>
                <li>Business &amp; Financ Analysing </li>
                <li>24 hour support </li>
                <li>Customer Managemet</li>
                <li>cPanel Setting</li>
              </ul>
            </div>
          </div>
          <div class="pricing-footer">
            <div class="plan-action">
              <a href="Javascript:void(0):" title="Buy Now" class="btn btn-block font-weight-medium text-uppercase">Buy Now
              <i class="fa fa-long-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col md-4 col-lg-4">
        <div class="yit-pricing-item">
          <div class="pricing-head">
            <img src="images/custom-icon/stylish-hosting-icon-host-2.png" alt="Icon Hosting" class="yit-img-center mb-15" width="64" height="64">
            <h6 class="plan-title font-weight-semibold mt-10 mb-10">Business Hosting</h6>
            <hr class="width-30 height-1 grey-color-bg">
          </div>
          <div class="pricing-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non consectetur rerum molestias debitis nihil provident voluptatem consequuntur illum</p>
            <h6 class="plan-title mt-10 mb-10 font-weight-regular font-xxsmall">Starting at <span class="pink-color-text font-weight-bold">$5</span> /per month</h6>
            <div class="plan-desc mb-20">
              <ul class="yit-listing-block">
                <li>50GB Bandwidth </li>
                <li>Business &amp; Financ Analysing </li>
                <li>24 hour support </li>
                <li>Customer Managemet</li>
                <li>cPanel Setting</li>
              </ul>
            </div>
          </div>
          <div class="pricing-footer">
            <div class="plan-action">
              <a href="Javascript:void(0):" title="Buy Now" class="btn btn-block font-weight-medium text-uppercase">Buy Now
              <i class="fa fa-long-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col md-4 col-lg-4">
        <div class="yit-pricing-item">
          <div class="pricing-head">
            <img src="images/custom-icon/stylish-hosting-icon-host-3.png" alt="Icon Hosting" class="yit-img-center mb-15" width="64" height="64">
            <h6 class="plan-title font-weight-semibold mt-10 mb-10">Enterprise Hosting</h6>
            <hr class="width-30 height-1 grey-color-bg">
          </div>
          <div class="pricing-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non consectetur rerum molestias debitis nihil provident voluptatem consequuntur illum</p>
            <h6 class="plan-title mt-10 mb-10 font-weight-regular font-xxsmall">Starting at <span class="pink-color-text font-weight-bold">$8</span> /per month</h6>
            <div class="plan-desc mb-20">
              <ul class="yit-listing-block">
                <li>50GB Bandwidth </li>
                <li>Business &amp; Financ Analysing </li>
                <li>24 hour support </li>
                <li>Customer Managemet</li>
                <li>cPanel Setting</li>
              </ul>
            </div>
          </div>
          <div class="pricing-footer">
            <div class="plan-action">
              <a href="Javascript:void(0):" title="Buy Now" class="btn btn-block font-weight-medium text-uppercase">Buy Now
              <i class="fa fa-long-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Pricing Listing EOC -->

</div>
</section>
<!-- /Pricing Section EOC -->

<!-- /Service Section BOC -->
<section class="webp-hosting-why">
<div class="container">
  <div class="row">
    <div class="col">
      <div class="text-center">
        <h3>Why Choose Us</h3>
        <img src="images/bg-items/line-divider-ripple.png" alt="Line Divider" class="yit-img-center mt-20 mb-20">
      </div>
    </div>
  </div>

  <!-- /Feature Listing BOC -->
  <div class="yit-feature style-3">
    <div class="row">

      <!-- /Feature Listing Left BOC -->
      <div class="col-xl-4 col-md-4 col-lg-4">
        <div class="yit-feature-item media">
          <div class="d-flex">
            <img src="images/custom-icon/stylish-hosting-icon-host-4.png" alt="Hosting Icon" width="64" height="64">
          </div>
          <div class="yit-feature-content pl-15 media-body">
            <h6 class="font-xxsmall font-weight-medium">Unlimited Database</h6>
            <p class="alt-font">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima quos dolor</p>
          </div>
        </div>
        <div class="yit-feature-item media">
          <div class="d-flex">
            <img src="images/custom-icon/stylish-hosting-icon-host-5.png" alt="Hosting Icon" width="64" height="64">
          </div>
          <div class="yit-feature-content pl-15 media-body">
            <h6 class="font-xxsmall font-weight-medium">Live Chat Support</h6>
            <p class="alt-font">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima quos dolor</p>
          </div>
        </div>
        <div class="yit-feature-item media">
          <div class="d-flex">
            <img src="images/custom-icon/stylish-hosting-icon-host-6.png" alt="Hosting Icon" width="64" height="64">
          </div>
          <div class="yit-feature-content pl-15 media-body">
            <h6 class="font-xxsmall font-weight-medium">Easy to Customize</h6>
            <p class="alt-font">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima quos dolor</p>
          </div>
        </div>
      </div>
      <!-- /Feature Listing Left EOC -->

      <!-- /Feature Image Center BOC -->
      <div class="col-xl-4 col-lg-4 col-md-4 d-flex align-items-center justify-content-center">
        <figure><img src="images/custom-icon/graphic-hosting-cpu.png" alt="Hosting Graphic" width="518" height="493" class="yit-img-center"></figure>
      </div>
      <!-- /Feature Image Center EOC -->

      <!-- /Feature Listing Right BOC -->
      <div class="col-xl-4 col-md-4 col-lg-4">
        <div class="yit-feature-item media">
          <div class="d-flex">
            <img src="images/custom-icon/stylish-hosting-icon-host-8.png" alt="Hosting Icon" width="64" height="64">
          </div>
          <div class="yit-feature-content pl-15 media-body">
            <h6 class="font-xxsmall font-weight-medium">Max Speed Limit</h6>
            <p class="alt-font">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima quos dolor</p>
          </div>
        </div>
        <div class="yit-feature-item media">
          <div class="d-flex">
            <img src="images/custom-icon/stylish-hosting-icon-host-8.png" alt="Hosting Icon" width="64" height="64">
          </div>
          <div class="yit-feature-content pl-15 media-body">
            <h6 class="font-xxsmall font-weight-medium">Free SSD Drives</h6>
            <p class="alt-font">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima quos dolor</p>
          </div>
        </div>
        <div class="yit-feature-item media">
          <div class="d-flex">
            <img src="images/custom-icon/stylish-hosting-icon-host-9.png" alt="Hosting Icon" width="64" height="64">
          </div>
          <div class="yit-feature-content pl-15 media-body">
            <h6 class="font-xxsmall font-weight-medium">High Security</h6>
            <p class="alt-font">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima quos dolor</p>
          </div>
        </div>
      </div>
      <!-- /Feature Listing Right EOC -->

    </div>
  </div>
  <!-- /Feature Listing EOC -->

</div>
</section>
<!-- /Service Section EOC -->

<!-- /Plan CMS Section BOC -->
<section class="webp-hosting-cms space-grey-light-color-bg">
<div class="bg-dotted"></div>
<div class="container">
  <div class="row">
    <div class="col-xl-6 col-md-6 col-lg-6 d-flex align-items-center justify-content-center">
      <figure class="white-color-bg item-icon align-items-center d-flex">
        <img src="images/custom-icon/graphic-hosting-icon-4.png" alt="Hosting Graphic CPU" class="yit-img-center" width="147" height="171">
        <div class="item-price pink-color-bg">$29 <span>monthly</span></div>
      </figure>
    </div>
    <div class="col-xl-6 col-md-6 col-lg-6 d-flex align-items-center">
      <article class="item-content">
        <h6 class="font-xxsmall letter-spacing-2 xs-no-letter-space grey-color-text font-weight-regular text-uppercase">Hosting</h6>
        <h4>Dedicated Features</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis id, iure beatae cumque voluptatum nemo illo aspernatur molestiae vitae omnis sunt aperiam iusto ipsam minus, rerum nihil. Possimus eaque, saepe.</p>
        <ul class="yit-common-listing style-2 listing-block">
          <li>Fully Managed Dedicated Server</li>
          <li>Windows &amp; Linux</li>
          <li>Complate Control with Root access</li>
          <li>Dedicated Bandwidth</li>
        </ul>
        <a href="Javascript:void(0);" title="View More Feature" class="yit-link style-1 text-uppercase font-weight-medium display-center-mob">View More Feature <i class="fa fa-long-arrow-right pl-2"></i></a>
      </article>
    </div>
  </div>
</div>
</section>
<!-- /Plan CMS Section EOC -->

<!-- /Plan CMS Section BOC -->
<section class="webp-hosting-cms">
<div class="bg-dotted-left"></div>
<div class="container">
  <div class="row">
    <div class="col-xl-6 col-md-6 col-lg-6 d-flex align-items-center">
      <article class="item-content">
        <h6 class="font-xxsmall letter-spacing-2 xs-no-letter-space grey-color-text font-weight-regular text-uppercase">Hosting</h6>
        <h4>Shared Features</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis id, iure beatae cumque voluptatum nemo illo aspernatur molestiae vitae omnis sunt aperiam iusto ipsam minus, rerum nihil. Possimus eaque, saepe.</p>
        <ul class="yit-common-listing style-2 listing-block">
          <li>Fully Managed Dedicated Server</li>
          <li>Windows &amp; Linux</li>
          <li>Complate Control with Root access</li>
          <li>Dedicated Bandwidth</li>
        </ul>
        <a href="Javascript:void(0);" title="View More Feature" class="yit-link style-1 text-uppercase font-weight-medium display-center-mob">View More Feature <i class="fa fa-long-arrow-right pl-2"></i></a>
      </article>
    </div>
    <div class="col-xl-6 col-md-6 col-lg-6 d-flex align-items-center justify-content-center">
      <figure class="space-grey-light-color-bg item-icon align-items-center d-flex">
        <img src="images/custom-icon/graphic-hosting-icon-5.png" alt="Hosting Graphic CPU" class="yit-img-center" width="158" height="172">
        <div class="item-price grey-color-bg">$39 <span>monthly</span></div>
      </figure>
    </div>
  </div>
</div>
</section>
<!-- /Plan CMS Section EOC -->

<!-- /Plan CMS Section BOC -->
<section class="webp-hosting-cms space-grey-light-color-bg yit-pos-relative">
<div class="bg-dotted"></div>
<div class="container">
  <div class="row">
    <div class="col-xl-6 col-md-6 col-lg-6 d-flex align-items-center justify-content-center">
      <figure class="white-color-bg item-icon align-items-center d-flex">
        <img src="images/custom-icon/graphic-hosting-icon-4.png" alt="Hosting Graphic CPU" class="yit-img-center" width="147" height="171">
        <div class="item-price black-color-bg">$49 <span>monthly</span></div>
      </figure>
    </div>
    <div class="col-xl-6 col-md-6 col-lg-6 d-flex align-items-center">
      <article class="item-content">
        <h6 class="font-xxsmall letter-spacing-2 xs-no-letter-space grey-color-text font-weight-regular text-uppercase">Reseller</h6>
        <h4>Dedicated Features</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis id, iure beatae cumque voluptatum nemo illo aspernatur molestiae vitae omnis sunt aperiam iusto ipsam minus, rerum nihil. Possimus eaque, saepe.</p>
        <ul class="yit-common-listing style-2 listing-block">
          <li>Fully Managed Dedicated Server</li>
          <li>Windows &amp; Linux</li>
          <li>Complate Control with Root access</li>
          <li>Dedicated Bandwidth</li>
        </ul>
        <a href="Javascript:void(0);" title="View More Feature" class="yit-link style-1 text-uppercase font-weight-medium display-center-mob">View More Feature <i class="fa fa-long-arrow-right pl-2"></i></a>
      </article>
    </div>
  </div>
</div>
</section>
<!-- /Plan CMS Section EOC -->

<!-- /Testimonial Section BOC -->
<section class="webp-hosting-testimonial pb-0">
<div class="container">
  <div class="row">

    <!-- /Testimonial Listing BOC -->
    <div class="col-xl-6 col-lg-6 col-md-6  d-flex align-items-center">
      <div class="yit-testimonial style-3 width-full">
        <h3 class="mt-15 mb-15 font-weight-medium">Client Testimonial</h3>
        <div class="owl-single owl-nav-shadow owl-carousel owl-theme owl-dots-nav">
          <div class="item">
            <div class="yit-item">
              <p class="alt-font font-xxxsmall">WebPanda is a great theme to anyone like who want to start buisiness but not get right decision. It’s really great placefor new to start ...</p>
              <div class="yit-thumbnail">
                <div class="yit-display-tb-cell">
                  <img width="100" height="100" src="images/testimonial/yit-thumb-1.jpg" alt="Testimonial Image"
                class="yit-img img-circle border-style-disp-none">
                </div>
                <div class="yit-content yit-display-tb-cell">
                  <ul class="yit-rating yit-listing-inline">
                    <li><a href="Javascript:void(0);"><i class="fa fa-star"></i></a></li>
                    <li><a href="Javascript:void(0);"><i class="fa fa-star"></i></a></li>
                    <li><a href="Javascript:void(0);"><i class="fa fa-star"></i></a></li>
                    <li><a href="Javascript:void(0);"><i class="fa fa-star-o"></i></a></li>
                    <li><a href="Javascript:void(0);"><i class="fa fa-star-o"></i></a></li>
                  </ul>
                  <h5 class="font-xxsmall text-left">Mark Joseph</h5>
                  <h6 class="yit-client-post grey-color-text text-left">Founder</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="yit-item">
              <p class="alt-font font-xxxsmall">WebPanda is a great theme to anyone like who want to start buisiness but not get right decision. It’s really great placefor new to start ...</p>
              <div class="yit-thumbnail">
                <div class="yit-display-tb-cell">
                  <img width="100" height="100" src="images/testimonial/yit-thumb-2.jpg" alt="Testimonial Image"
                class="yit-img img-circle border-style-disp-none">
                </div>
                <div class="yit-content yit-display-tb-cell">
                  <ul class="yit-rating yit-listing-inline">
                    <li><a href="Javascript:void(0);"><i class="fa fa-star"></i></a></li>
                    <li><a href="Javascript:void(0);"><i class="fa fa-star"></i></a></li>
                    <li><a href="Javascript:void(0);"><i class="fa fa-star"></i></a></li>
                    <li><a href="Javascript:void(0);"><i class="fa fa-star-o"></i></a></li>
                    <li><a href="Javascript:void(0);"><i class="fa fa-star-o"></i></a></li>
                  </ul>
                  <h5 class="font-xxsmall text-left">Simmy Doe</h5>
                  <h6 class="yit-client-post grey-color-text text-left">Founder</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="yit-item">
              <p class="alt-font font-xxxsmall">WebPanda is a great theme to anyone like who want to start buisiness but not get right decision. It’s really great placefor new to start ...</p>
              <div class="yit-thumbnail">
                <div class="yit-display-tb-cell">
                  <img width="100" height="100" src="images/testimonial/yit-thumb-3.jpg" alt="Testimonial Image"
                class="yit-img img-circle border-style-disp-none">
                </div>
                <div class="yit-content yit-display-tb-cell">
                  <ul class="yit-rating yit-listing-inline">
                    <li><a href="Javascript:void(0);"><i class="fa fa-star"></i></a></li>
                    <li><a href="Javascript:void(0);"><i class="fa fa-star"></i></a></li>
                    <li><a href="Javascript:void(0);"><i class="fa fa-star"></i></a></li>
                    <li><a href="Javascript:void(0);"><i class="fa fa-star-o"></i></a></li>
                    <li><a href="Javascript:void(0);"><i class="fa fa-star-o"></i></a></li>
                  </ul>
                  <h5 class="font-xxsmall text-left">Sim John</h5>
                  <h6 class="yit-client-post grey-color-text text-left">Founder</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Testimonial Listing EOC -->

    <!-- /Figure Thumbnail BOC -->
    <div class="col-xl-6 col-lg-6 col-md-6">
      <div class="yit-display-centrize">
        <div class="yit-display-v-centrize">
          <figure class="mb-0"><img src="images/team/team-thumbnail-34.jpg" alt="Testimonial Thumbnail" class="yit-img-center" width="456" height="586"></figure>
        </div>
      </div>
    </div>
    <!-- /Figure Thumbnail EOC -->

  </div>
</div>
</section>
<!-- /Testimonial Section EOC -->

<!-- /CMS Section BOC -->
<section class="webp-hosting-download" style="background-image:url(images/bg-items/bg-pattern-5.png);" data-stellar-background-ratio="0.5">
<div class="container">
  <div class="row">
    <div class="col-xl-6 col-md-6 col-sm-6 d-flex align-items-center justify-content-center">
      <figure class="item-img"><img src="images/screen-show/section-screen-img-19.png" alt="WebPanda Screen Thumbnail" class="yit-img-center" width="702" height="456"></figure>
    </div>
    <div class="col-xl-6 col-md-6 col-lg-6 d-flex align-items-center">
      <div class="item-content">
          <h6>WebPanda is designed for all types of businesses such as Corporate, Business, Portfolio, Creative, more…</h6>
          <a href="Javascript:void(0);" title="Purchase Now" class="btn font-weight-medium mt-20">Purchase Now <i class="fa fa-shopping-basket"></i></a>
      </div>
    </div>
  </div>
</div>
</section>
<!-- /CMS Section EOC -->

<!-- /Blog Section BOC -->
<section class="webp-hosting-blog">
<div class="container">
  <div class="row">
    <div class="col">
      <div class="text-center">
        <h4>Get Latest Updates</h4>
        <img src="images/bg-items/line-divider-ripple.png" alt="Line Divider" class="yit-img-center mt-20 mb-20" width="97" height="20">
      </div>
    </div>
  </div>

  <!-- /Blog Listing BOC -->
  <div class="yit-blog style-1 mt-30">
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-4">
        <div class="yit-blog-item img-shadow-dark">
          <div class="yit-blog-thumbnail"><img src="images/blogs/yit-blog-12.jpg" alt="Blog Thumbnail" class="post-image" width="400" height="280"></div>
          <div class="yit-blog-detail white-color-bg">
            <p class="post-author">25 April 2017 | by Jay Benjamin</p>
            <h6 class="post-title font-xxsmall"><a href="Javascript:void(0);" title="Blog Title">Best domain for start.</a></h6>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum text...</p>
            <a href="Javscript:void(0);" title="Read More" class="link-pink blog-readmore"><span class="ti-angle-right"></span> Read More </a> </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4">
        <div class="yit-blog-item img-shadow-dark">
          <div class="yit-blog-thumbnail"><img src="images/blogs/yit-blog-13.jpg" alt="Blog Thumbnail" class="post-image" width="400" height="280"></div>
          <div class="yit-blog-detail white-color-bg">
            <p class="post-author">25 April 2017 | by Jay Benjamin</p>
            <h6 class="post-title font-xxsmall"><a href="Javascript:void(0);" title="Blog Title">Best reseller hosting.</a></h6>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum text...</p>
            <a href="Javscript:void(0);" title="Read More" class="link-pink blog-readmore"><span class="ti-angle-right"></span> Read More </a> </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4">
        <div class="yit-blog-item img-shadow-dark">
          <div class="yit-blog-thumbnail"><img src="images/blogs/yit-blog-14.jpg" alt="Blog Thumbnail" class="post-image" width="400" height="280"></div>
          <div class="yit-blog-detail white-color-bg">
            <p class="post-author">25 April 2017 | by Jay Benjamin</p>
            <h6 class="post-title font-xxsmall"><a href="Javascript:void(0);" title="Blog Title">Best domain for student.</a></h6>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum text...</p>
            <a href="Javscript:void(0);" title="Read More" class="link-pink blog-readmore"><span class="ti-angle-right"></span> Read More </a> </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Blog Listing EOC -->

</div>
</section>
<!-- /Blog Section EOC -->
<!-- ====== /CONTENT EOC ====== -->
<%- include("includes/contact"); %>
<%- include("includes/footer") %>
<%- include("includes/end") %>