<%- include("./includes/header"); %>
<%- include("includes/navbar"); %>
<!-- /Banner BOC -->
<div class="inner-banner-large yit-cover-bg bg-overlay" style="background-image:url(images/webpanda-bg-142.jpg);">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="text-center white-color-text">
          <div class="d-flex align-items-center height-xxsmall-screen justify-content-center">
            <div class="inner-banner-content">
              <h3>FAQs</h3>
              <p class="yit-lead">Frequently Asked Questions</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Banner EOC -->

</header>
<!-- ====== /HEADER EOC ====== -->

<!-- ====== /CONTENT BOC ====== -->

<!-- /Add Section BOC -->
<section>
<div class="container">

    <!-- /Style-1 -->
    <div class="yit-accordion style-1 mt-0">
      <div class="row">
        <div class="col">
          <div class="accordion" id="accordion">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h6 class="mb-0"> <a class="btn btn-link font-weight-medium" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  What does royalty free mean? </a> </h6>
              </div>
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body font-extra-small">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus laboriosam officiis natus dicta minus deserunt repellendus, autem blanditiis nesciunt nam accusamus recusandae mollitia illo possimus nemo facilis consequuntur porro beatae.</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h6 class="mb-0"> <a class="btn btn-link collapsed font-weight-medium" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> What do you mean by item and end product? </a> </h6>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body font-extra-small">
                  <p>Lorem ipsum dolor sit amet, vix an natum labitur eleifd, mel am laoreet menandri. Ei justo complectitur duo. Ei mundi solet utos soletu possit quo. Sea cu justo laudem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur unde ratione consequatur quae perspiciatis, corrupti eligendi adipisci numquam, amet magnam aperiam! Odit, suscipit officia assumenda accusamus earum maxime aut blanditiis!</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h6 class="mb-0"> <a class="btn btn-link collapsed font-weight-medium" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> How can be contact to author? </a> </h6>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body font-extra-small">
                  <p>Lorem ipsum dolor sit amet, vix an natum labitur eleifd, mel am laoreet menandri. Ei justo complectitur duo. Ei mundi solet utos soletu possit quo. Sea cu justo laudem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro similique ipsa deleniti doloribus fuga dicta id voluptate, excepturi nostrum cupiditate, iure quam adipisci earum nesciunt, vel nihil nobis. Vero, incidunt.</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingFour">
                <h6 class="mb-0"> <a class="btn btn-link collapsed font-weight-medium" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour"> How to buy product? </a> </h6>
              </div>
              <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                <div class="card-body font-extra-small">
                  <p>Lorem ipsum dolor sit amet, vix an natum labitur eleifd, mel am laoreet menandri. Ei justo complectitur duo. Ei mundi solet utos soletu possit quo. Sea cu justo laudem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro similique ipsa deleniti doloribus fuga dicta id voluptate, excepturi nostrum cupiditate, iure quam adipisci earum nesciunt, vel nihil nobis. Vero, incidunt.</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingFive">
                <h6 class="mb-0"> <a class="btn btn-link collapsed font-weight-medium" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive"> How to refund money? </a> </h6>
              </div>
              <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                <div class="card-body">
                  <p>Lorem ipsum dolor sit amet, <u>vix</u> an natum labitur eleifd, mel am laoreet menandri. Ei justo complectitur <i>duo</i>. Ei mundi solet utos soletu possit quo. Sea cu justo laudem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. <b>Porro</b> similique ipsa deleniti doloribus fuga dicta id voluptate, excepturi nostrum cupiditate, iure quam adipisci earum nesciunt, vel nihil nobis. Vero, incidunt.</p>
                  <ul class="yit-common-listing listing-block style-1 font-extra-small">
                    <li>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum</li>
                    <li>Auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </li>
                    <li>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="alert alert-success" role="alert">
        If you do not find the answer to your question listed within our FAQ's, you can always contact us directly at <a href="mailto:letstalk@webpanda.com" title="letstalk@webpanda.com">letstalk@webpanda.com</a>
      </div>
    </div>
    <!-- /Style-1 -->

</div>
</section>
<!-- /Add Section EOC -->
<%- include("includes/contact"); %>
<%- include("includes/footer") %>
<%- include("includes/end") %>