    <%- include("./includes/header"); %>
    <%- include("includes/navbar"); %>
    <!-- /Banner BOC -->
    <div class="inner-banner-large yit-cover-bg bg-overlay" style="background-image:url(images/bg-items/default.jpg);" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="text-center white-color-text">
              <div class="d-flex align-items-center height-xxsmall-screen justify-content-center">
                <div class="inner-banner-content">
                  <h3>University of San Carlos - Cooperative</h3>
                  <p class="yit-lead"> A Cooperative made by the University of San Carlos </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Banner EOC -->

  </header>
  <!-- ====== /HEADER EOC ====== -->

  <!-- ====== /CONTENT BOC ====== -->

  <!-- /Blog Section BOC -->
  <section>
    <div class="container-fluid px-5">
      <div class="row">

        <!-- /Blog Sidebar BOC -->
        <div class="col-lg-4 col-md-12 col-xl-3">
          <aside class="blog-sidebar l-side xs-text-left">

            <% if (locals.filter) { %>
                <div class="col mb-5">
                  <h5 class="text-center text-success">Filtered by: "<%- filter %>"</h5>
                </div>
            <% } %>

              <!-- /Search BOC -->
              <div class="sidebar-box yit-search mb-30">
                <h6 class="mb-15 border-left-only border-width-3 green-color-border pl-15">Search</h6>
                <form name="yit-search" id="blog-search">
                  <div class="common-form">
                    <div class="form-group yit-pos-relative">
                      <input name="blog-search-input" id="blog-search-input" placeholder="Enter Keyword here.." class="form-control" type="search">
                      <a class="btn-search" name="btn-search-btn" id="btn-search-btn" href="successfulSearch"><i class="fa fa-search"></i></a>
                    </div>
                  </div>
                </form>
              </div>
              <!-- /Search EOC -->
             

              <!-- /Tags BOC -->
              <% if (locals.tags)  {%>
              <div class="sidebar-box meta-tag mb-30 last-p-none">
                <h6 class="mb-15 border-left-only border-width-3 green-color-border pl-15">Tags</h6>
                <ul class="yit-tags">
                <% tags.forEach(tag => { %>
                  <li><a class="btn-border btn-radius btn-green-border btn" href="?tag=<%- tag.name %>" title="<%- tag.name %>"><%- tag.name %></a></li>
                <% }); %>
                </ul>
              </div>
                <% }; %>
              <!-- /Tags EOC -->

              <!-- /Archive BOC || NOT YET USABLE-->
              <!-- <div class="sidebar-box blog-meta archive mb-30 last-p-none">
                <h6 class="mb-15 border-left-only border-width-3 green-color-border pl-15">Archive</h6>
                <ul class="list-group">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="tags" title="January 2017">January 2017</a>
                    <span class="badge light-grey-color-bg">14</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="tags" title="February 2017">February 2017</a>
                    <span class="badge light-grey-color-bg">10</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="tags" title="March 2017">March 2017</a>
                    <span class="badge light-grey-color-bg">15</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="tags" title="April 2017">April 2017</a>
                    <span class="badge light-grey-color-bg">20</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="tags" title="May 2017">May 2017</a>
                    <span class="badge light-grey-color-bg">22</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="tags" title="June 2017">June 2017</a>
                    <span class="badge light-grey-color-bg">30</span>
                  </li>
                </ul>
              </div> -->
              <!-- /Archive EOC -->

          </aside>
        </div>
        <!-- /Blog Sidebar EOC -->

        <!-- /Blog Post Section BOC -->
        <div class="col-lg-8 col-md-12 col-xl-9">

          <!-- /Blog Listing BOC -->
          <div class="yit-blog style-2">
            <div class="row">
            <% if(locals.posts) { %>
              <% posts.forEach(post => { %>
                <div class="col-xl-4 col-lg-6 col-md-4 mb-30">
                <div class="yit-blog-item flex-full-height mb-0">
                  <div class="yit-blog-thumbnail"><img width="506" height="338" src="<%- post.img %>" alt="Blog Thumbnail" class="post-image"></div>
                  <div class="yit-blog-detail">
                    <p class="post-author">25 April 2017 | by <%- post.author %></p>
                    <h6 class="post-title font-xxsmall"><a href="tags" title="Blog Title"><%- post.title %></a></h6>
                    <%- post.content.substring(0, 90) %>...</p>
                    <a href="readMore" title="Read More" class="btn btn-green btn-xxsmall btn-rounded"><span class="ti-angle-right"></span> Read More </a> </div>
                </div>
              </div>
              <% }); %>
            <% } else { %>
              <div class="col mb-5 align-self-center">
                  <h5 class="text-center text-success">There are no posts to show.</h5>
                </div>
            <% }; %>
              
            </div>
          </div>
          <!-- /Blog Listing EOC -->

          <!-- /Pagination BOC -->
          <% if(locals.pages && pages.length > 1) { %>
          <div class="row">
            <div class="col">
              <div class="d-flex justify-content-center">
                <div class="yit-pagination pagination-radius mt-30">
                  <ul class="pagination">
                    <% if(pages.length > 1 && page > 1) { %>
                      <li class="page-item"><a class="page-link" href="?num=<%-page-1%>"><i class="ti-arrow-left"></i> <span class="hidden-xs">Previous</span></a></li>
                    <% } %>

                    <% if(pages.length > 1) { %>
                      <li class="page-item">
                        <form method="GET" class="w-50">
                          <input type="number" name="num" id="pageNum" value="<%- page %>" class="form-control bg-transparent rounded border-secondary w-35 py-2 px-1 mr-2 text-center d-inline h-100">
                          <button class="page-link d-inline" type="submit" href="#">Go</button>
                        </form>
                      </li>
                    <% } %>

                    <% if(pages.length > 1 && page < pages.length) { %>
                      <li class="page-item"><a class="page-link" href="?num=<%-page+1%>"> <i class="ti-arrow-right"></i> <span class="hidden-xs">Next</span></a></li>
                    <% } %>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <script>
            let totalPages = <%- pages.length %>;
          </script>
          <% } %>
          <!-- /Pagination EOC -->

        </div>
        <!-- /Blog Post Section EOC -->

      </div>
    </div>
  </section>
  <!-- /Blog Section EOC -->
  <%- include("includes/contact"); %>
  <%- include("./includes/footer"); %>
  <%- include("includes/end") %>