<%- include("./includes/header"); %>
<%- include("includes/navbar-fixed"); %>
<div class="inner-banner-xxxsmall banner-fixed-top-small space-grey-light-color-bg">
</div>

<section class="space-grey-light-color-bg">
  <div class="container">
    <!-- /Form BOC -->
    <div class="row justify-content-center">
      <div class="col-xl-5 col-md-5 col-xl-5">
        <div class="yit-cotact-form common-form mt-40 white-color-bg pad-15-all img-shadow border-top-only border-width-4 green-color-border input-style-1">
          <form>
            <div class="form-group">
              <h6 class="text-center font-weight-bold">LOGIN</h6>
            </div>
            <div class="form-group control-group">
              <input name="username" placeholder="Username" class="form-control" type="text">
            </div>
            <div class="form-group control-group">
              <input name="password" placeholder="Password" class="form-control" type="password">
            </div>
            <div class="form-group">
              <input name="btn-submit" class="btn btn-block control-group" value="Login" type="submit">
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- /Form EOC -->

  </div>
</section>
<%- include("includes/contact"); %>
<%- include("./includes/footer"); %>
<%- include("includes/end") %>