<%- include("./includes/header"); %>
<%- include("includes/navbar"); %>
    <!-- /Banner BOC -->
    <div class="inner-banner-large bg-overlay yit-cover-bg" style="background-image:url(images/webpanda-bg-31.jpg);" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="text-center white-color-text">
              <div class="d-flex align-items-center height-xxsmall-screen justify-content-center">
                <div class="inner-banner-content">
                  <h3>News and Events</h3>
                  <p class="yit-lead">Upcoming events for USC - COOP</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Banner EOC -->

  </header>
  <!-- ====== /HEADER EOC ====== -->

  <!-- ====== /CONTENT BOC ====== -->

  <!-- /Add Section BOC -->
  <section>
    <div class="container-fluid">

      <!-- /Blog Listing BOC -->
      <div class="yit-blog style-4">
        <div class="row">
          <div class="col-xl-3 col-md-6 col-lg-4 mb-30">
            <div class="yit-blog-item flex-full-height mb-0">
              <div class="yit-blog-thumbnail"> <img src="images/blogs/yit-blog-12.jpg" alt="Blog Thumbnail" class="post-image width-full" width="400" height="280">
                <a href="readMore.html" title="Read More" class="btn-more yit-pos-v-center pink-color-bg img-circle"><i class="themify-icon ti-plus"></i></a> </div>
              <div class="yit-blog-detail">
                <div class="post-action">
                  <div class="post-date"><i class="fa fa-calendar-o"></i> April 2017</div>
                  <div class="post-author"><i class="fa fa-user"></i> by Jay Benjamin</div>
                </div>
                <h6 class="post-title font-xxsmall"><a href="readMore.html" title="Blog Title">I like the design. I like to design everything.</a></h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni labore porro explicabo.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni labore porro explicabo.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni labore porro explicabo.</p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 col-lg-4 mb-30">
            <div class="yit-blog-item flex-full-height mb-0">
              <div class="yit-blog-thumbnail"> <img src="images/blogs/yit-blog-13.jpg" alt="Blog Thumbnail" class="post-image width-full" width="400" height="280"> <a href="readMore.html" title="Read More" class="btn-more yit-pos-v-center pink-color-bg img-circle"><i class="themify-icon ti-plus"></i></a> </div>
              <div class="yit-blog-detail">
                <div class="post-action">
                  <div class="post-date"><i class="fa fa-calendar-o"></i> April 2017</div>
                  <div class="post-author"><i class="fa fa-user"></i> by Jay Benjamin</div>
                </div>
                <h6 class="post-title font-xxsmall"><a href="readMore.html" title="Blog Title">I like the design. I like to design everything.</a></h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni labore porro explicabo.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni labore porro explicabo.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni labore porro explicabo.</p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 col-lg-4 mb-30">
            <div class="yit-blog-item flex-full-height mb-0">
              <div class="yit-blog-thumbnail"> <img src="images/blogs/yit-blog-14.jpg" alt="Blog Thumbnail" class="post-image width-full" width="400" height="280"> <a href="readMore.html" title="Read More" class="btn-more yit-pos-v-center pink-color-bg img-circle"><i class="themify-icon ti-plus"></i></a> </div>
              <div class="yit-blog-detail">
                <div class="post-action">
                  <div class="post-date"><i class="fa fa-calendar-o"></i> April 2017</div>
                  <div class="post-author"><i class="fa fa-user"></i> by Jay Benjamin</div>
                </div>
                <h6 class="post-title font-xxsmall"><a href="readMore.html" title="Blog Title">I like the design. I like to design everything.</a></h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni labore porro explicabo.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni labore porro explicabo.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni labore porro explicabo.</p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 col-lg-4 mb-30">
            <div class="yit-blog-item flex-full-height mb-0">
              <div class="yit-blog-thumbnail"> <img src="images/blogs/yit-blog-12.jpg" alt="Blog Thumbnail" class="post-image width-full" width="400" height="280">
                <a href="readMore.html" title="Read More" class="btn-more yit-pos-v-center pink-color-bg img-circle"><i class="themify-icon ti-plus"></i></a> </div>
              <div class="yit-blog-detail">
                <div class="post-action">
                  <div class="post-date"><i class="fa fa-calendar-o"></i> April 2017</div>
                  <div class="post-author"><i class="fa fa-user"></i> by Jay Benjamin</div>
                </div>
                <h6 class="post-title font-xxsmall"><a href="readMore.html" title="Blog Title">I like the design. I like to design everything.</a></h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni labore porro explicabo.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni labore porro explicabo.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni labore porro explicabo.</p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 col-lg-4 mb-30">
            <div class="yit-blog-item flex-full-height mb-0">
              <div class="yit-blog-thumbnail"> <img src="images/blogs/yit-blog-13.jpg" alt="Blog Thumbnail" class="post-image width-full" width="400" height="280">
                <a href="readMore.html" title="Read More" class="btn-more yit-pos-v-center pink-color-bg img-circle"><i class="themify-icon ti-plus"></i></a> </div>
              <div class="yit-blog-detail">
                <div class="post-action">
                  <div class="post-date"><i class="fa fa-calendar-o"></i> April 2017</div>
                  <div class="post-author"><i class="fa fa-user"></i> by Jay Benjamin</div>
                </div>
                <h6 class="post-title font-xxsmall"><a href="readMore.html" title="Blog Title">I like the design. I like to design everything.</a></h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni labore porro explicabo.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni labore porro explicabo.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni labore porro explicabo.</p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 col-lg-4 mb-30">
            <div class="yit-blog-item flex-full-height mb-0">
              <div class="yit-blog-thumbnail"> <img src="images/blogs/yit-blog-14.jpg" alt="Blog Thumbnail" class="post-image width-full" width="400" height="280">
                <a href="readMore.html" title="Read More" class="btn-more yit-pos-v-center pink-color-bg img-circle"><i class="themify-icon ti-plus"></i></a> </div>
              <div class="yit-blog-detail">
                <div class="post-action">
                  <div class="post-date"><i class="fa fa-calendar-o"></i> April 2017</div>
                  <div class="post-author"><i class="fa fa-user"></i> by Jay Benjamin</div>
                </div>
                <h6 class="post-title font-xxsmall"><a href="readMore.html" title="Blog Title">I like the design. I like to design everything.</a></h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni labore porro explicabo.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni labore porro explicabo.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni labore porro explicabo.</p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 col-lg-4 mb-30">
            <div class="yit-blog-item flex-full-height mb-0">
              <div class="yit-blog-thumbnail"> <img src="images/blogs/yit-blog-12.jpg" alt="Blog Thumbnail" class="post-image width-full" width="400" height="280">
                <a href="readMore.html" title="Read More" class="btn-more yit-pos-v-center pink-color-bg img-circle"><i class="themify-icon ti-plus"></i></a> </div>
              <div class="yit-blog-detail">
                <div class="post-action">
                  <div class="post-date"><i class="fa fa-calendar-o"></i> April 2017</div>
                  <div class="post-author"><i class="fa fa-user"></i> by Jay Benjamin</div>
                </div>
                <h6 class="post-title font-xxsmall"><a href="readMore.html" title="Blog Title">I like the design. I like to design everything.</a></h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni labore porro explicabo.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni labore porro explicabo.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni labore porro explicabo.</p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 col-lg-4 mb-30">
            <div class="yit-blog-item flex-full-height mb-0">
              <div class="yit-blog-thumbnail"> <img src="images/blogs/yit-blog-13.jpg" alt="Blog Thumbnail" class="post-image width-full" width="400" height="280">
                <a href="readMore.html" title="Read More" class="btn-more yit-pos-v-center pink-color-bg img-circle"><i class="themify-icon ti-plus"></i></a> </div>
              <div class="yit-blog-detail">
                <div class="post-action">
                  <div class="post-date"><i class="fa fa-calendar-o"></i> April 2017</div>
                  <div class="post-author"><i class="fa fa-user"></i> by Jay Benjamin</div>
                </div>
                <h6 class="post-title font-xxsmall"><a href="readMore.html" title="Blog Title">I like the design. I like to design everything.</a></h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni labore porro explicabo.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni labore porro explicabo.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni labore porro explicabo.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Blog Listing EOC -->

      <!-- /Pagination BOC -->
      <div class="row">
        <div class="col">
          <div class="d-flex justify-content-center">
            <div class="yit-pagination pagination-radius mt-30">
              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#"><i class="ti-arrow-left"></i> <span class="hidden-xs">Previous</span></a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#"> <i class="ti-arrow-right"></i> <span class="hidden-xs">Next</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- /Pagination EOC -->

    </div>
  </section>
  <!-- /Add Section EOC -->
  <%- include("includes/contact"); %>
  <%- include("includes/footer") %>
  <%- include("includes/end") %>