    <%- include("./includes/header"); %>
    <%- include("includes/navbar-fixed"); %>
    <!-- /Banner BOC -->
  <div class="inner-banner-xsmall space-grey-color-bg banner-fixed-top-small">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-5 col-lg-6">
            <div class="inner-banner-content text-uppercase">
              <h6>Blog Post Gallery</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Banner EOC -->

  </header>
  <!-- ====== /HEADER EOC ====== -->

  <!-- ====== /CONTENT BOC ====== -->

  <!-- /Blog Section BOC -->
  <section>
    <div class="container">
      <div class="row">

        <!-- /Blog Post Section BOC -->
        <div class="col-lg-8 col-md-12 col-xl-9">

          <!-- /Post BOC -->
          <div class="row">
            <div class="col">
              <div class="yit-blog blog-standard border-all mb-20">
                <!-- /Blog Post Info BOC -->
                <div class="blog-post-info border-bottom none-col-space none-row-space">
                  <div class="row">
                    <div class="col-lg-3 col-md-3 col-xl-3">
                      <div class="post-info-item pad-15-all border-right xs-border-none">
                        <div class="yit-display-v-centrize pr-15 xs-pad-none"><img src="images/avtar/avtar-02.jpg" alt="Blog Author" width="149" height="149"
                          class="img-circle width-30"></div>
                        <div class="yit-display-v-centrize"><a class="font-extra-small" href="tags.html" title="Niks Pat">Niks Pat</a></div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xl-3">
                      <div class="post-info-item pad-15-all border-right likes xs-border-none">
                        <div class="yit-display-v-centrize pr-10 xs-pad-none"><i class="ti-heart font-extra-small"></i></div>
                        <div class="yit-display-v-centrize"><a class="font-extra-small" href="tags.html" title="7 Likes">7 Likes</a></div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xl-3">
                      <div class="post-info-item pad-15-all border-right likes xs-border-none">
                        <div class="yit-display-v-centrize pr-10 xs-pad-none"><i class="ti-comments font-extra-small"></i></div>
                        <div class="yit-display-v-centrize"><a class="font-extra-small" href="tags.html" title="7 Comments">7 Comments</a></div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xl-3">
                      <div class="post-info-item pad-15-all likes">
                        <div class="yit-display-v-centrize pr-10 xs-pad-none"><i class="ti-calendar font-extra-small"></i></div>
                        <div class="yit-display-v-centrize"><a class="font-extra-small" href="tags.html" title="7 Comments">22 June 2018</a></div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /Blog Post Info EOC -->

                <!-- /Blog Content BOC -->
                <article class="blog-entry-content pad-30-all xs-pad-15-all">
                  <h6 class="mb-10"><a href="tags.html" title="This is a standard post with a preview image">This is a standard post with a gallery grid</a></h6>
                  <p><span class="yit-dropcap dropcap-xlarge pink-color-text mb-15">W</span>ebPanda Lorem ipsum dolor sit amet, consectetur adipisicing elit. In consectetur inventore, ab pariatur minus, cupiditate quidem iste aliquid asperiores. Lorem ipsum dolor sit amet, consectetur adipisicing elit. In consectetur inventore, ab pariatur minus, cupiditate quidem iste aliquid asperiores.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                  <p>Lorem ipsum <mark class="pink-color-bg img-round">unde eligendi</mark> dolor sit amet, consectetur adipisicing elit. <u>Obcaecati</u> vitae porro omnis voluptate officiis incidunt aliquid natus sapiente pariatur repellendus perferendis quod esse, voluptatibus nesciunt, neque nihil dicta. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum laborum dolorum quae eaque a, perferendis voluptatibus <b>explicabo</b> autem omnis aut, ullam dignissimos animi in voluptates. Id <i>obcaecati</i> rem ipsum eum!</p>

                  <!-- /Image Block BOC -->
                  <div class="blog-caption">
                    <figure><img src="images/screen-show/section-screen-img-8.png" alt="Blog Screen Thumbnail" class="yit-img-left caption-img mr-15 mt-10" width="995" height="585"></figure>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed dignissimos eligendi in quae pariatur itaque odio magni voluptatum asperiores atque, voluptatibus modi repellendus, mollitia voluptate nihil aliquid vitae, beatae cumque! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias ducimus, quod distinctio fugit fugiat doloribus iure, ratione officiis totam. Quaerat incidunt sit quis vero, rerum quod dolorem cumque magnam facilis.
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At aspernatur qui laudantium atque fugiat, sint esse perferendis dolores asperiores porro repellendus temporibus soluta ut odit, ab, incidunt recusandae nisi, totam.</p>
                  </div>
                  <!-- /Image Block EOC -->

                  <!-- / Blockquote BOC -->
                  <blockquote class="light-grey-color-bg pad-20-all mt-20 mb-20 xs-text-center">
                    <i class="ti-quote-left font-large text-shadow-light text-opacity-sm mb-10"></i>
                    <h6>Everything is designed. Few things are designed well.</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ducimus quo rerum alias laudantium, ad! Aspernatur distinctio perferendis nam quam, odit rerum laudantium architecto, nemo nisi culpa ipsam unde consequuntur!</p>
                    <cite class="text-uppercase font-weight-bold font-italic">- Brain Reed</cite>
                  </blockquote>
                  <!-- / Blockquote EOC -->

                  <p>Lorem ipsum dolor sit amet, consectetur <i>adipisicing</i> elit. Quas, ut debitis atque libero doloribus <u>necessitatibus</u> magnam, ullam facilis eveniet, totam modi ducimus <a class="link-pink" href="tags.html" title="repellat">repellat</a> aliquam voluptatum dolorem? <b>Quibusdam</b> nam nihil pariatur?</p>

                  <hr class="width-full height-1 grey-color-bg text-opacity-sm mb-25 hidden-xs">

                  <!-- /Social Share BOC -->
                  <div class="row">
                    <div class="col-lg-6 col-xl-6 col-md-6 hidden-xs">
                      <ul class="blog-tags font-extra-small mt-10">
                        <li class="pink-color-text"><i class="fa fa-tags"></i> Tags: </li>
                        <li><a href="tags.html" title="Branding">Branding</a></li>
                        <li><a href="tags.html" title="Web">Web</a></li>
                        <li><a href="tags.html" title="Blog">Blog</a></li>
                        <li><a href="tags.html" title="WordPress">WordPress</a></li>
                      </ul>
                    </div>
                    <div class="col-lg-6 col-xl-6 col-md-6 col">
                      <div class="yit-social social-circle">
                        <ul class="text-right display-center-mob">
                          <li><a class="pink-color-bg blog-like" href="tags.html"><i class="fa fa-heart"></i> 200</a></li>
                          <li><a class="facebook" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                          <li><a class="twitter" href="http://www.twitter.com" target="_blank"><i class="fa fa-twitter"></i></a></li>
                          <li><a class="google" href="http://www.google.com" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!-- /Social Share EOC -->

                </article>
                <!-- /Blog Content EOC -->

              </div>
            </div>
          </div>
          <!-- /Post EOC -->

          <!-- /Author Block BOC -->
          <div class="row">
            <div class="col">
              <div class="blog-post-author mt-20 mb-20 light-grey-color-bg pad-20-all mt-20 mb-20 border-left-only pink-color-border">
                <div class="row">
                  <div class="col-lg-2 col-md-2 col-xl-2 d-flex align-items-center">
                    <figure class="display-center-mob xs-mb-15"><img src="images/avtar/avtar-07.jpg" alt="Blog Post Author Avtar" class="yit-img-center border-all img-circle width-100" width="300" height="300"></figure>
                  </div>
                  <div class="col-lg-10 col-md-10 col-xl-10">
                    <div class="author-content">
                      <h6 class="text-uppercase font-xxxsmall">Johanthon Doe</h6>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt est ipsa, mollitia ipsum, ducimus qui sit! Illum delectus repellat, cum accusamus distinctio officia iusto ducimus, laudantium sunt aspernatur! Quibusdam, odio.</p>
                      <a href="tags.html" title="About Author" class="btn btn-xxxsmall btn-radius font-weight-medium text-uppercase">About Author</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /Author Block EOC -->

          <!-- /Post Comment BOC -->
          <div class="blog-post-comment mt-20 xs-text-center">
            <ul class="row">
              <li class="col-12">
                <div class="yit-display-table blog-comment-item width-full">
                  <div class="post-thumbnail yit-display-tb-cell align-top pr-20 xs-pr-none">
                    <img class="img-circle" src="images/avtar/avtar-01.jpg" alt="Author Image" width="149" height="149">
                  </div>
                  <div class="post-comment yit-display-tb-cell align-top">
                    <div class="d-inline">
                      <h6 class="mt-0 font-xxxsmall text-uppercase d-inline"><a href="tags.html" title="John Doe">John Doe</a></h6>
                      <a href="tags.html" title="Reply" class="btn btn-border btn-xxxsmall btn-radius font-weight-medium text-uppercase yit-btn-right">Reply</a>
                    </div>
                    <p class="font-extra-small grey-color-text mb-0">17 july 2017, 6:05 pm</p>
                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                  </div>
                </div>
              </li>
              <li class="col-12">
                <div class="yit-display-table blog-comment-item reply-item width-full">
                  <div class="post-thumbnail yit-display-tb-cell pr-20 xs-pr-none align-top">
                    <img class="img-circle" src="images/avtar/avtar-02.jpg" alt="Author Image" width="149" height="149">
                  </div>
                  <div class="post-comment yit-display-tb-cell align-top">
                    <div class="d-inline">
                      <h6 class="mt-0 font-xxxsmall text-uppercase d-inline"><a href="tags.html" title="John Doe">Pintoo Doe</a></h6>
                      <a href="tags.html" title="Reply" class="btn btn-border btn-xxxsmall btn-radius font-weight-medium text-uppercase yit-btn-right">Reply</a>
                    </div>
                    <p class="font-extra-small grey-color-text mb-0">17 july 2017, 6:05 pm</p>
                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio.</p>
                  </div>
                </div>
              </li>
              <li class="col-12">
                <div class="yit-display-table blog-comment-item width-full">
                  <div class="post-thumbnail yit-display-tb-cell pr-20 xs-pr-none align-top">
                    <img class="img-circle" src="images/avtar/avtar-03.jpg" alt="Author Image" width="149" height="149">
                  </div>
                  <div class="post-comment yit-display-tb-cell align-top">
                    <div class="d-inline">
                      <h6 class="mt-0 font-xxxsmall text-uppercase d-inline"><a href="tags.html" title="John Doe">Niks Pat</a></h6>
                      <a href="tags.html" title="Reply" class="btn btn-border btn-xxxsmall btn-radius font-weight-medium text-uppercase yit-btn-right">Reply</a>
                    </div>
                    <p class="font-extra-small grey-color-text mb-0">17 july 2017, 6:05 pm</p>
                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <!-- /Post Comment EOC -->

          <!-- /Leave Comment BOC -->
          <div class="blog-reply-form common-form mt-20 light-grey-color-bg pad-20-all border-top-only pink-color-border mb-30">
            <h6 class="mb-20">Leave a Reply </h6>
            <form id="contact-form" name="contact-form" action="yit-contact-form.php" method="post">
              <div class="row justify-content-end">
                <div class="col-xl-4 col-md-4 col-sm-4">
                  <div class="form-group control-group">
                    <input name="firstname" id="firstname" placeholder="Enter Name" class="form-control" type="text">
                  </div>
                </div>
                <div class="col-xl-4 col-md-4 col-sm-4">
                  <div class="form-group control-group">
                    <input name="email" id="email" placeholder="Enter Email" class="form-control" type="email">
                  </div>
                </div>
                <div class="col-xl-4 col-md-4 col-sm-4">
                  <div class="form-group control-group">
                    <input name="phoneno" id="phoneno" placeholder="Enter Phone" class="form-control" type="text">
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <textarea name="message" id="message" placeholder="Enter Message" cols="30" rows="10" class="form-control"></textarea>
                  </div>
                </div>
                <div class="col-xl-3 col-md-3 col-lg-3 col-12">
                  <input name="btn-submit" id="btn-submit" class="btn btn-radius btn-block control-group" value="Submit" type="submit">
                </div>
              </div>
            </form>
          </div>
          <!-- /Leave Comment EOC -->

        </div>
        <!-- /Blog Post Section EOC -->

        <!-- /Blog Sidebar BOC -->
        <div class="col-lg-4 col-md-12 col-xl-3">
          <aside class="blog-sidebar l-side xs-text-left">

              <!-- /Search BOC -->
              <div class="sidebar-box yit-search mb-30">
                <h6 class="mb-15 border-left-only border-width-3 pink-color-border pl-15">Search</h6>
                <form name="yit-search" id="yit-search">
                  <div class="common-form">
                    <div class="form-group yit-pos-relative">
                      <input name="search" id="search" placeholder="Enter Keyword here.." class="form-control" type="search">
                      <a class="btn-search" name="btn-search" id="btn-search" href="successfulSearch.html"><i class="fa fa-search"></i></a>
                    </div>
                  </div>
                </form>
              </div>
              <!-- /Search EOC -->

              <!-- /About BOC -->
              <div class="sidebar-box about-author mb-30 last-p-none">
                <h6 class="mb-15 border-left-only border-width-3 pink-color-border pl-15">About Me</h6>
                <img src="images/team/team-thumbnail-31.jpg" alt="Author Thumbnail" height="300" width="300" class="mb-15 width-full">
                <p class="font-extra-small">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard.</p>
                <a href="tags.html" title="Read More" class="yit-link style-2 text-uppercase font-weight-medium mt-10">Read More
                  <i class="fa fa-angle-double-right pl-2"></i></a>
              </div>
              <!-- /About EOC -->

              <!-- /Social BOC -->
              <div class="sidebar-box blog-social mb-30 last-p-none">
                <h6 class="border-left-only border-width-3 pink-color-border pl-15">Follow Us</h6>
                <div class="yit-social icon-small social-circle style-6">
                  <ul>
                    <li><a class="facebook" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="twitter" href="http://www.twitter.com" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="google" href="http://www.google.com" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                    <li><a class="linkedin" href="http://www.linkedin.com" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    <li><a class="instagram" href="http://www.instagram.com" target="_blank"><i class="fa fa-instagram"></i></a></li>
                  </ul>
                </div>
              </div>
              <!-- /Social EOC -->

              <!-- /Categories BOC -->
              <div class="sidebar-box blog-meta mb-30 last-p-none">
                <h6 class="mb-15 border-left-only border-width-3 pink-color-border pl-15">Categories</h6>
                <ul class="list-group">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="tags.html" title="Arts and Entertainment">Arts and Entertainment</a>
                    <span class="badge light-grey-color-bg">14</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="tags.html" title="Bussiness">Bussiness</a>
                    <span class="badge light-grey-color-bg">10</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="tags.html" title="Future">Future</a>
                    <span class="badge light-grey-color-bg">15</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="tags.html" title="Design Tutorials">Design Tutorials</a>
                    <span class="badge light-grey-color-bg">20</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="tags.html" title="Design Trends">Design Trends</a>
                    <span class="badge light-grey-color-bg">22</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="tags.html" title="User Interface">User Interface</a>
                    <span class="badge light-grey-color-bg">30</span>
                  </li>
                </ul>
              </div>
              <!-- /Categories EOC -->

              <!-- /Popular Post BOC -->
              <div class="sidebar-box blog-popular-post mb-30 last-p-none">
                <h6 class="mb-15 border-left-only border-width-3 pink-color-border pl-15">Popular Post</h6>
                <ul>
                  <li>
                    <div class="media">
                      <div class="d-flex post-thumbnail"><img src="images/blogs/yit-blog-1.jpg" alt="Recent Blog Thumbnail" width="506" height="338"></div>
                      <div class="media-body">
                        <a href="tags.html" title="Click Here">Praesent placerat risus quis eros</a>
                        <p class="grey-color-text font-extra-small">April 30, 2016</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="media">
                      <div class="d-flex post-thumbnail"><img src="images/blogs/yit-blog-2.jpg" alt="Recent Blog Thumbnail" width="506" height="338"></div>
                      <div class="media-body">
                        <a href="tags.html" title="Click Here">Praesent placerat risus quis eros</a>
                        <p class="grey-color-text font-extra-small">April 30, 2016</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="media">
                      <div class="d-flex post-thumbnail"><img src="images/blogs/yit-blog-3.jpg" alt="Recent Blog Thumbnail" width="506" height="338"></div>
                      <div class="media-body">
                        <a href="tags.html" title="Click Here">Praesent placerat risus quis eros</a>
                        <p class="grey-color-text font-extra-small">April 30, 2016</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="media">
                      <div class="d-flex post-thumbnail"><img src="images/blogs/yit-blog-4.jpg" alt="Recent Blog Thumbnail" width="506" height="338"></div>
                      <div class="media-body">
                        <a href="tags.html" title="Click Here">Praesent placerat risus quis eros</a>
                        <p class="grey-color-text font-extra-small">April 30, 2016</p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <!-- /Popular Post EOC -->

              <!-- /Tags BOC -->
              <div class="sidebar-box meta-tag mb-30 last-p-none">
                <h6 class="mb-15 border-left-only border-width-3 pink-color-border pl-15">Tags</h6>
                <ul class="yit-tags">
                  <li><a class="btn-border btn-radius btn-pink-border btn" href="tags.html" title="webdesign">webdesign</a></li>
                  <li><a class="btn-border btn-radius btn-pink-border btn" href="tags.html" title="webdevelopment">webdevelopment</a></li>
                  <li><a class="btn-border btn-radius btn-pink-border btn" href="tags.html" title="app">app</a></li>
                  <li><a class="btn-border btn-radius btn-pink-border btn" href="tags.html" title="branding">branding</a></li>
                  <li><a class="btn-border btn-radius btn-pink-border btn" href="tags.html" title="logo">logo</a></li>
                  <li><a class="btn-border btn-radius btn-pink-border btn" href="tags.html" title="yankeethemes">yankeethemes</a></li>
                  <li><a class="btn-border btn-radius btn-pink-border btn" href="tags.html" title="wp-develop">wp-develop</a></li>
                  <li><a class="btn-border btn-radius btn-pink-border btn" href="tags.html" title="wp-plugin">wp-plugin</a></li>
                  <li><a class="btn-border btn-radius btn-pink-border btn" href="tags.html" title="wp-code">wp-code</a></li>
                  <li><a class="btn-border btn-radius btn-pink-border btn" href="tags.html" title="yanke">yanke</a></li>
                  <li><a class="btn-border btn-radius btn-pink-border btn" href="tags.html" title="yankeinfoweb">yankeinfoweb</a></li>
                </ul>
              </div>
              <!-- /Tags EOC -->

              <!-- /Archive BOC -->
              <div class="sidebar-box blog-meta archive mb-30 last-p-none">
                <h6 class="mb-15 border-left-only border-width-3 pink-color-border pl-15">Archive</h6>
                <ul class="list-group">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="tags.html" title="January 2017">January 2017</a>
                    <span class="badge light-grey-color-bg">14</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="tags.html" title="February 2017">February 2017</a>
                    <span class="badge light-grey-color-bg">10</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="tags.html" title="March 2017">March 2017</a>
                    <span class="badge light-grey-color-bg">15</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="tags.html" title="April 2017">April 2017</a>
                    <span class="badge light-grey-color-bg">20</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="tags.html" title="May 2017">May 2017</a>
                    <span class="badge light-grey-color-bg">22</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="tags.html" title="June 2017">June 2017</a>
                    <span class="badge light-grey-color-bg">30</span>
                  </li>
                </ul>
              </div>
              <!-- /Archive EOC -->

              <!-- /Instagram BOC -->
              <div class="sidebar-box blog-instagram mb-30 last-p-none">
                <h6 class="mb-15 border-left-only border-width-3 pink-color-border pl-15">Instagram</h6>
                <ul class="yit-instafeed-blog style-1 text-center row"></ul>
              </div>
              <!-- /Instagram EOC -->

              <!-- /Newsletter BOC -->
              <div class="sidebar-box blog-newsletter mb-30 last-p-none">
                <h6 class="mb-15 border-left-only border-width-3 pink-color-border pl-15">Newsletter</h6>
                  <div class="footer-newsletter style-2">
                    <form id="newsletter-form" name="newsletter-form">
                      <div class="common-form">
                        <div class="form-group control-group-validate">
                          <input name="newsemail" id="newsemail" value="" placeholder="Email Address" class="form-control" type="email">
                          <button name="btn-subscribe" id="btn-subscribe" value="Subscribe" class="btn btn-pink control-group-validate" type="submit">
                            <i class="fa fa-envelope-o"></i>
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
              </div>
              <!-- /Newsletter EOC -->

              <!-- /Testimonial BOC -->
              <div class="sidebar-box blog-testimonial mb-30 last-p-none">
                <h6 class="mb-10 border-left-only border-width-3 pink-color-border pl-15">Testimonial</h6>
                <div class="yit-testimonial style-1 text-center">
                  <div class="yit-owl-blog owl-carousel owl-theme">
                    <div class="item">
                      <div class="yit-testimonial-item">
                        <img src="images/testimonial/yit-thumb-1.jpg" alt="Testimonial Image" class="rounded-circle yit-img-center grey-color-border mb-15" width="100"
                        height="100">
                        <p class="font-extra-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, minus, voluptatibus? Voluptates quod, necessitatibus quae porro aperiam nemo animi praesentium</p>
                        <h5 class="font-xxxsmall">John Doe</h5>
                        <h6 class="yit-client-post">Founder </h6>
                      </div>
                    </div>
                    <div class="item">
                      <div class="yit-testimonial-item">
                        <img src="images/testimonial/yit-thumb-2.jpg" alt="Testimonial Image" class="rounded-circle yit-img-center grey-color-border mb-15" width="100"
                        height="100">
                        <p class="font-extra-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, minus, voluptatibus? Voluptates quod, necessitatibus quae porro aperiam nemo animi praesentium</p>
                        <h5 class="font-xxxsmall">John Doe</h5>
                        <h6 class="yit-client-post">Founder </h6>
                      </div>
                    </div>
                    <div class="item">
                      <div class="yit-testimonial-item">
                        <img src="images/testimonial/yit-thumb-3.jpg" alt="Testimonial Image" class="rounded-circle yit-img-center grey-color-border mb-15" width="100"
                        height="100">
                        <p class="font-extra-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, minus, voluptatibus? Voluptates quod, necessitatibus quae porro aperiam nemo animi praesentium</p>
                        <h5 class="font-xxxsmall">John Doe</h5>
                        <h6 class="yit-client-post">Founder </h6>
                      </div>
                    </div>
                    <div class="item">
                      <div class="yit-testimonial-item">
                        <img src="images/testimonial/yit-thumb-4.jpg" alt="Testimonial Image" class="rounded-circle yit-img-center grey-color-border mb-15" width="100"
                        height="100">
                        <p class="font-extra-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, minus, voluptatibus? Voluptates quod, necessitatibus quae porro aperiam nemo animi praesentium</p>
                        <h5 class="font-xxxsmall">John Doe</h5>
                        <h6 class="yit-client-post">Founder </h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /Testimonial EOC -->

          </aside>
        </div>
        <!-- /Blog Sidebar EOC -->

      </div>
    </div>
  </section>
  <!-- /Blog Section EOC -->

  <!-- /Related Post Section BOC -->
  <section class="light-medium-grey-color-bg">
    <div class="container">

      <div class="row">
        <div class="col">
          <h5 class="text-center">Related Post</h5>
        </div>
      </div>
      <!-- /Blog Listing BOC -->
      <div class="yit-blog style-1 mt-30">
        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-4 mb-30">
            <div class="yit-blog-item flex-full-height mb-0">
              <div class="yit-blog-thumbnail"><img src="images/blogs/yit-blog-1.jpg" alt="Blog Thumbnail" class="post-image" width="506" height="338"></div>
              <div class="yit-blog-detail">
                <p class="post-author">25 April 2017 | by Jay Benjamin</p>
                <h6 class="post-title font-xxsmall"><a href="tags.html" title="Blog Title">I like the design. I like to design everything to do with the color.</a></h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum text...</p>
                <a href="Javscript:void(0);" title="Read More" class="link-pink blog-readmore"><span class="ti-angle-right"></span> Read More </a> </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 mb-30">
            <div class="yit-blog-item flex-full-height mb-0">
              <div class="yit-blog-thumbnail"><img src="images/blogs/yit-blog-2.jpg" alt="Blog Thumbnail" class="post-image" width="506" height="338"></div>
              <div class="yit-blog-detail">
                <p class="post-author">25 April 2017 | by Jay Benjamin</p>
                <h6 class="post-title font-xxsmall"><a href="tags.html" title="Blog Title">I like the design. I like to design everything to do with the color.</a></h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum text...</p>
                <a href="Javscript:void(0);" title="Read More" class="link-pink blog-readmore"><span class="ti-angle-right"></span> Read More </a> </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 mb-30">
            <div class="yit-blog-item flex-full-height mb-0">
              <div class="yit-blog-thumbnail"><img src="images/blogs/yit-blog-3.jpg" alt="Blog Thumbnail" class="post-image" width="506" height="338"></div>
              <div class="yit-blog-detail">
                <p class="post-author">25 April 2017 | by Jay Benjamin</p>
                <h6 class="post-title font-xxsmall"><a href="tags.html" title="Blog Title">I like the design. I like to design everything to do with the color.</a></h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum text...</p>
                <a href="Javscript:void(0);" title="Read More" class="link-pink blog-readmore"><span class="ti-angle-right"></span> Read More </a> </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Blog Listing EOC -->

    </div>
  </section>
  <!-- /Related Post Section EOC -->

  <!-- /Contact BOC -->
  <section class="pink-color-bg small-section white-color-text wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
      <div class="yit-contact-box style-2 text-center">
        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-4">
            <div class="yit-contact-item yit-display-centrize">
              <div class="yit-display-v-centrize mt-15">
                <i class="icon-map etline-icon icon-medium icon-circle white-color-bg mb-15"></i>
                <h6 class="font-xxxsmall">WebPanda - Highly Creative Template</h6>
                <p class="pt-pb-zero mb-0 alt-font">YI-101, Fortune Landmark - USA</p>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4">
            <div class="yit-contact-item yit-display-centrize">
              <div class="yit-display-v-centrize mt-15">
                <i class="icon-envelope etline-icon icon-small icon-medium icon-circle white-color-bg mb-15"></i>
                <h6 class="font-xxxsmall">Email Us</h6>
                <p class="pt-pb-zero mb-0 alt-font">enquiry@webpanda.com</p>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4">
            <div class="yit-contact-item yit-display-centrize">
              <div class="yit-display-v-centrize mt-15">
                <i class="icon-chat etline-icon icon-small icon-circle white-color-bg mb-15"></i>
                <h6 class="font-xxxsmall">Live Help</h6>
                <p class="pt-pb-zero mb-0 alt-font">skype.webpanda</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Contact EOC -->
  <%- include("includes/contact"); %>
  <%- include("./includes/footer"); %>
  <%- include("includes/end") %>