<%- include("./includes/header"); %>
<%- include("includes/navbar"); %>
    <!-- /Banner BOC -->
    <div class="inner-banner-small space-grey-color-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-5 col-lg-6">
            <div class="inner-banner-content text-uppercase">
              <h6>Twitter Feed</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Banner EOC -->

  </header>
  <!-- ====== /HEADER EOC ====== -->

  <!-- ====== /CONTENT BOC ====== -->

  <!-- /Section BOC -->
  <section class="light-grey-color-bg">
    <div class="container">
      <div class="row">
        <div class="col">
          <h5 class="text-center">Style 01</h5>
        </div>
      </div>

      <!-- /Twitter Feed Listing BOC -->
      <div class="yit-twitter-classic text-center last-p-none mt-40">
        <div class="owl-twitter-grid-third-col owl-carousel owl-theme">
        </div>
      </div>
      <!-- /Twitter Feed Listing EOC -->

    </div>
  </section>
  <!-- /Section EOC -->

  <!-- /Section BOC -->
  <section class="space-grey-color-bg">
    <div class="container">
      <div class="row">
        <div class="col">
          <h5 class="text-center">Style 02</h5>
        </div>
      </div>

      <!-- /Twitter Feed Listing BOC -->
      <div class="yit-twitter style-1 border-none mt-40">
        <div class="owl-grid-third-col-two owl-carousel owl-theme">
        </div>
      </div>
      <!-- /Twitter Feed Listing EOC -->

    </div>
  </section>
  <!-- /Section EOC -->
<%- include("includes/contact"); %>
<%- include("includes/footer") %>
<%- include("includes/end") %>